<div style="width:400px; margin-left: auto; margin-right: auto; padding-bottom: 100px;max-width: 100%">
    <div style="display:flex;" class="mb-5 mt-2">
        <button type="button" class="btn btn-primary"
                style="margin-left:auto; margin-right: 10px">Login
        </button>
    
        <button type="button" class="btn btn-warning"
                style="margin-right: 10px">Register
        </button>
    </div>
    
    <ngx-chess-board #board [size]="size" [lightTileColor]="lightTileColor" (moveChange)="moveCallback($event)"
                     [dragDisabled]="dragDisabled"
                     [drawDisabled]="drawDisabled"
                     [darkTileColor]="darkTileColor"
                     [lightDisabled]="lightDisabled"
                     [darkDisabled]="darkDisabled"
                     [freeMode]="freeMode"
    ></ngx-chess-board>
    <!--<ngx-chess-board></ngx-chess-board> You can also use it like this  -->
    <hr>
    <label for="lightTile">Light tile color:</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3" [style.background-color]="lightTileColor"></span>
        </div>
        <input type="text" class="form-control" placeholder="blue" [(ngModel)]="lightTileColor" id="lightTile"
               aria-describedby="basic-addon3">
    </div>
    <br>
    <label for="darkTile">Dark tile color:</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="darkTileSpan" [style.background-color]="darkTileColor"></span>
        </div>
        <input type="text" class="form-control" placeholder="blue" [(ngModel)]="darkTileColor" id="darkTile"
               aria-describedby="basic-addon3">
    </div>

    <br>
    <label for="size">Size:</label>
    <div class="input-group">
        <input type="number" class="form-control" placeholder="Between 100 and 4000" [(ngModel)]="size" id="size"
               aria-describedby="basic-addon3">
        <div class="input-group-append">
            <span class="input-group-text">px</span>
        </div>
    </div>
    <br>

    <div style="display:flex;">
        <button type="button" class="btn btn-primary"
                style="margin-left:auto; margin-right: 10px" (click)="reset()">Reset
        </button>

        <button type="button" class="btn btn-warning"
                style="margin-right: 10px" (click)="reverse()">Reverse
        </button>

        <button type="button" class="btn btn-info"
                style="margin-right: 10px" (click)="undo()">Undo
        </button>

        <button type="button" class="btn btn-success"
                style="margin-right:auto" (click)="showMoveHistory()">Display moves
        </button>
    </div>
    <hr>
</div>
